* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;.
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

html {
	transition: smooth;
}

.background-pic
 {
 	background-color: white;

}

.navbar{ 
    background-color: white;

}

.navbar, 
.navbar-brand {
	color: #FFF;
}

.navbar, 
.navbar-brand:hover {
	color: #FFF;
}


.navbar,
.navbar-nav,
li,
a, {
	color:#FFF;
}

.navbar,
.nav-item,
.dropdown-item {
	color: #000;
}

.navbar,
.nav-item,
.dropdown-item,
.dropdown-item:hover
{
	color: #FFF;
	background-color: black;

}

.navbar-toggler {
	color: gray;
} 

/*.navbar-toggler-icon {
color: white;
}*/

.nav-link {
	color: white;
}


.jumbotron {
	border-radius: 0;
	text-align: center;
	background-color: black;
	color: #e5e5e5;
	height: 100vh;

}

.profile {
	border-radius: 50%;
	background-color: white;
}

#fname {
	color: 	#cc0055;
}


.midnav {
	top: 0;
	position: sticky;
	text-align: center;
	font-size: 20px;
	margin: 0;
	padding: 0;
	z-index: 1;
	height: 100%;
	background-color: white;
}


.buttons {
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}


.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.btn-hover.color-2 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.btn-hover.color-3 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.btn-hover.color-4 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.btn-hover.color-5 {
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}


.midnav-item {
	width: 18%;
	z-index: 4;

}


.about {
	margin-top: 90px;

}

#aboutsection {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 100px;
	background-color: white;
}

.hex{
	margin-top: 30px;
	margin-bottom: 100px;
}

.card,
.card-body,
.card-img-top,
.card-text {
	border: none;
}

.aboutlogo {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 1px transparent;
}

.hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  margin: 86.60px 0;
  background-image: url(../images/me12.jpg);
  background-size: auto 346.4102px;
  background-position: center;

}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 212.13px;
  height: 212.13px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 43.93px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 300.0000px;
  height: 173.20508075688775px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -106.0660px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -106.0660px;
}

.hexBottom:after {
  background-position: center bottom;

}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 300.0000px;
  height: 173.2051px;
  background: inherit;
  z-index: 2;
}

.skillset {
	margin-top: 100px;
	margin-bottom: 100px;
}

.progress {
	background-color: #5c6a77;
	margin-top: 20px;
	margin-bottom: 20px;
}

.progress-bar {
	background-color: #1c7a19;
}

.skillicon {
	height: 60px;
	width: 60px;
	background-color: none;
}

.skill1 {
	width: 90%;
}
.skill2 {
	width: 85%;
}
.skill3 {
	width: 80%;
}
.skill4 {
	width: 75%;
}

.myprofile {
	text-align: center;
}

.description {
	margin-top: 150px;
	margin-bottom: 50px;
}

.indent {
	text-indent: 10px;
	margin-top: 30px;
}

hr {
	margin-bottom: 50px;
	margin-top: 50px;
}

.projbase {
	margin-top: 100px;
	margin-bottom: 100px;

}


.card-proj{
	margin-bottom: 100px;
	margin-top: 100px;
}

.contact-us {
	background-color: gray;
	height: 100%;
}

.sociallogos {
	height: 40px;
	width: 40px;
}

.socials {
	margin-top: 40px;
	text-align: center;
}

.fpara {
	line-height: .5;
	
}

/*desktop view*/



/*tablet view rules*/


@media only screen and (min-width: 401px) and (max-width: 960px) {


}


/*mobile version*/
@media only screen and (max-width: 400px) {
	.navbar-brand {
		display: none;
	}
	.nav-item {
		text-align: left;
	}
	.midnav {
		display: none;
	}
	.jumbotron {
		height: 100%;
	}

	iframe	{
		margin-top: 50px;
	}
}


